/target
/.idea
/.allure
/src/test/resources/apk
/src/test/resources/capabilitiesJson
/src/test/resources/screenshots
/src/test/java/online/rumac/internalApiTests
/allure-results
/src/test/resources/appPackages
/src/test/resources/json
*.iml
