<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Activities">
    <test name="All tests">
        <groups>
            <run>
                <include name="undone"/>
                <include name="done"/>
                <exclude name="broken"/>
            </run>
        </groups>
        <packages>
            <package name="online.rumac.tests.*">
<!--                <exclude name="online.rumac.tests.common"/>-->
            </package>
        </packages>
    </test>
</suite>