<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Activities">
    <test name="All tests">
        <groups>
            <run>
                <include name="inProgress"/>
                <exclude name="done"/>
                <exclude name="faulty"/>
            </run>
        </groups>
        <packages>
            <package name="online.rumac.tests.*"/>
        </packages>
    </test>
</suite>